* {
  font-family: sans-serif;
  text-align: center;

  margin: auto;
}
header , footer {
  background-color: #363636;
  color: #f1f1f1;
  font-size: 1.5rem;
  font-family: cursive;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .marquee {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: lightblue;
}
.main-section{
  overflow-y: scroll;
  height: 70vh;
}
.message-box {
  width: 50%;
  background-color: green;
  margin-top: 20px;
  border-radius: 10px;
  padding: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.center-detail div {
  width: 100%;

  text-align: left;
  margin-top: 0.5rem;
}
